/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/*------------------------------------------------------- Root Variables */

:root {
    /* Colour Variables */
    --blue: #0E8397;
    --purple: #6A648A;
    --grey-purple: #797B94;
    --honeydew: #DDF2EB;

    /* Font variables */ 
    --header: 'Homemade Apple', cursive;
}

/*------------------------------------------------------- Special Styling */
h1 {
    font-family: var(--header);
    font-size: 2.5rem;
}

/*------------------------------------------------------- Navbar */
/* Styling for navigation bar */
.navbar{
    background-color: var(--nav-dark);
    width: 100vw;
    margin-bottom: 0;
    border: 0;
    
    right: 0;
    position: fixed;
    z-index: 100;
    padding: 10px;
}

/* Styling for logo */
.navbar-logo {
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
    border: 0;
    position: fixed;
    width: 50vw;
    left: 0;
    z-index: 101;
}

/* Styling for nav links in navigation bar */
.navbar-nav{
    background-color: var(--nav-dark);
    padding: 10px;
    border-radius: 15px;
    z-index: 100;
}
.navbar-nav li a {
    font-family: var(--titlefont);
    font-weight: 400;
    text-align: center;
    color: var(--accent); 
    font-size: 1.25em; 
    line-height: 130%;
    /* Bug that was found on 30/11 with solution sourced from Stack Overflow. Detailed report in the 'Bugs' section of README file*/
}
.navbar-nav .active{
    color: var(--colour2);
}
.nav-padding {
    padding-top: 30px;
    /* Needed for toggler navbar on mobile devices */
}

#landing-sec {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../images/fullpage-bg.png);
    background-attachment: scroll; /* To allow on ios devices */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
#landing-title {
    max-width: 100vw;
    text-align: center;
}

#about-sec {
    width: 100vw;
    height: 100vh;

    background: var(--grey-purple) no-repeat right top; 
}

#project-sec {
    width: 100vw;
    height: 100vh;

    background: var(--purple) no-repeat right top; 
}

#contact-sec {
    width: 100vw;
    height: 100vh;

    background: var(--blue) no-repeat right top; 
}