/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Lato:wght@400;700&display=swap');

/*------------------------------------------------------- Root Variables */

:root {
    /* Colour Variables */
    --blue: #008097;
    --purple: #6A648A;
    --grey-purple: #797B94;
    --nav-bg: hsla(249, 16%, 47%, 0.863);
    --cream: #A5BCBB;
    --navy: #061225;

    /* Font variables */ 
    --header-font: 'Homemade Apple', cursive;
    --main-font: 'Lato', sans-serif;
}

/*------------------------------------------------------- Special Styling */
html {
  scroll-behavior: smooth;
}

h1 {
    font-family: var(--header-font);
    font-size: 2.5rem;
    color: var(--navy);
}

/*------------------------------------------------------- Navbar */
/* Styling for navigation bar */
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 100;
}
/* Styling for nav links in navigation bar */
.navbar-nav{
    font-family: var(--main-font);
    z-index: 100;
}
.nav-bg {
    background: var(--nav-bg);
    border-radius: 10%;
    padding: 5px;
}
.navbar-brand {
    width: 30%;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
.navbar-nav li a {
    text-align: center;
    color: var(--navy); 
    font-size: 1.25em; 

}

/* Social Links appear in the nav bar header on smaller screens*/
.socials-nav {
    color: var(--navy); 
    padding: 0px;
    margin: 0px auto;
    font-size: 1.3rem;
}

/* Styling for navbar toggler */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(173, 20, 20)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* Sourced from Stack Overflow to re-colour the toggle button on mobile devices (RGB value had to be entered instead of root varable).
    https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color*/
} 
.custom-toggler{
    border-color: var(--navy);
}
.custom-toggler:active {
    border: none;
} 
.navbar-toggler {
    margin: 12px 12px 12px 0px;
}

#landing-sec {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing-title {
    max-width: 100vw;
    text-align: center;
}

#about-sec {
    width: 100vw;
    height: 100vh;
}

#project-sec {
    width: 100vw;
    height: 100vh;
}

#contact-sec {
    width: 100vw;
    height: 100vh;
}